R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=gtfs-lviv
GTFS_STATIC_URL=https://track.ua-gis.com/gtfs/lviv/static.zip
GTFS_RT_URL=https://track.ua-gis.com/gtfs/lviv/vehicle_position
PROJECTED_CRS=EPSG:32635
